<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{sDescription}}">

    <title>{{sName}}</title>

    


<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="http://points.icomefromthenet.com/css/layouts/email.css">
<link rel="stylesheet" href="http://points.icomefromthenet.com/jquery-ui/jquery-ui.min.css">
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.4.1/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.4.1/jsgrid-theme.min.css" />

</head>
<body>


<div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
        <a href="#" class="nav-menu-button">Menu</a>

        <div class="nav-inner">
            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-heading">Results</li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Recent Runs </a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">New Donation</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">New Raid</a></li>
                    
                    <li class="pure-menu-heading">Setup</li>
                    <li class="pure-menu-item"><a href="{{ path_for('setup_system',{ } ) }}" class="pure-menu-link">Point Systems</a></li>
                    <li class="pure-menu-item"><a href="{{ path_for('setup_zone', { } ) }}" class="pure-menu-link">Systems Zones</a></li>
                    
                    <li class="pure-menu-item"><a href="{{ path_for('setup_event', { } )  }}" class="pure-menu-link">Event Types</a></li>
                    <li class="pure-menu-item"><a href="{{ path_for('setup_score', { } )  }}" class="pure-menu-link">Scores</a></li>
                    <li class="pure-menu-item"><a href="{{ path_for('setup_scoregroup', { } ) }}" class="pure-menu-link">Score Groups</a></li>
                    
                    
                    <li class="pure-menu-item"><a href="{{ path_for('setup_rulechain', { } )}}" class="pure-menu-link">Rule Chains</a></li>
                    <li class="pure-menu-item"><a href="{{ path_for('setup_chainmember', { } )}}" class="pure-menu-link">Rule Chains Members</a></li>
                    
                    <li class="pure-menu-item"><a href="{{ path_for('setup_adjgroup', { } ) }}" class="pure-menu-link">Adjustment Rule Groups</a></li>
                    <li class="pure-menu-item"><a href="{{ path_for('setup_adjrule', { }) }}" class="pure-menu-link">Adjustment Rules</a></li>
                    
                </ul>
            </div>
        </div>
    </div>

    {% block bodyContent %}

  
  
    {% endblock %}  
  
  
</div>

<script type="text/javascript" src="http://points.icomefromthenet.com/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="http://points.icomefromthenet.com/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.4.1/jsgrid.min.js"></script>
<script type="text/javascript" src="http://points.icomefromthenet.com/js/moment.js"></script>
<script type="text/javascript">

    jQuery(function($){
        
        
         var $menuButton = $('.nav-menu-button');
         var $nav        = $('#nav');

        // Setting the active class name expands the menu vertically on small screens.
        $menuButton.click(function (e) {
            $nav.toggleClass('active');
        });

        // Your application code goes here...
        if(PAGE) {
            PAGE.init();    
        }
        
        // Set default Date Picker if on page
        
        $('#oProcessingDate').find(':input').datepicker({
            dateFormat :'yy-mm-dd'
            
        });
        
        $('#oProcessingDate').submit(function(event){
            PAGE.filter(this.oProcessingDate);
            
            return false;
        });
        
        
    });
    
    function rtrim(str, charlist) {
      //  discuss at: http://phpjs.org/functions/rtrim/
      // original by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
      //    input by: Erkekjetter
      //    input by: rem
      // improved by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
      // bugfixed by: Onno Marsman
      // bugfixed by: Brett Zamir (http://brett-zamir.me)
      //   example 1: rtrim('    Kevin van Zonneveld    ');
      //   returns 1: '    Kevin van Zonneveld'
    
      charlist = !charlist ? ' \\s\u00A0' : (charlist + '')
        .replace(/([\[\]\(\)\.\?\/\*\{\}\+\$\^\:])/g, '\\$1');
      var re = new RegExp('[' + charlist + ']+$', 'g');
      return (str + '')
        .replace(re, '');
    }

</script>

{% block scriptExtras %}

    
{% endblock %}


</body>
</html>
